.drop_list_container {
    margin: 13px 0 10px 0px
}

.sort_trade_list_dropdown {
 
    font-size: 12px;
}

.detailed_trade_statistic_div {
    margin-left: auto;
}


#TradeHistory {
    position: absolute;
    height: 100%;
    width: 100%;
}

.table-row {
    height: auto;
}
.type_side_arrow {
    padding: 1.8px;
    padding-right: 7px;
    vertical-align: middle;
    font-size: 12px
}


/*Scrol tbody*/
#trade_list_tab tbody {
    bottom: 50px;
    position: absolute;
    width: 100%;
    top: 95px;
    display: block;
    height: auto;
    overflow-y: scroll;
}

#trade_list_tab th,
#trade_list_tab td {
    width: 9.09%;
    word-break: break-all;
}

#trade_list_tab tr {
    display: table;
    width: 100%;
    box-sizing: border-box;
    line-height: 22px;
    padding: 0px
}

#trade_list_tab tr .deleteTrade {
    position: relative;
    color: var(--main-text-color);
    font-size: 11px;
    left: -5px;
    margin-right: 8px !important;
    padding: 2px !important;
    cursor: pointer;
    border-radius: 50px
}

/**********************/

